.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 4;
}

.link {
    transition: .5s;
    color: white;
}

.welcome-wrapper {
    clip-path: polygon(50% 4%, 53% 0, 100% 0, 100% 100%, 0 100%, 0 0, 47% 0);
}

.welcome-card {
    clip-path: polygon(0 0, 100% 0, 100% 86%, 58% 100%, 50% 95%, 44% 100%, 0 86%);
    z-index: -1;
}

.why-card-4 {
    color: white !important;
    background: linear-gradient(-120deg, #0f0b5d, #2f64b9, #0f0b5d);
}

.why-card-4 p {
    color: white !important;
}

.benefits-wrapper {
    clip-path: polygon(50% 0, 100% 4%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 4%);
}